* {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
            /*�븵�뿉 臾몄뼇 �궗�씪吏�*/
        }

        #wrap {
            /*�쁽�옱 蹂댁씠�뒗 怨녹쓽 �겕湲� 諛� 蹂댁씠�뒗 踰붿쐞 �꽕�젙*/
            width: 1000px;
            margin: 20px auto;
            position: relative;
            /*�쐞移� 蹂�寃� 媛��뒫*/
            overflow: hidden;
            /*�궡遺� �깭洹멸� �꽆移좊븣 �뼱�뼸寃� 蹂댁씪源� �꽕�젙 (overflow)
            visible(default): �떎蹂댁뿬吏� 
            hidden: �꽆移섎뒗 遺�遺꾩쓣 �옒�씪 �븞蹂댁씠寃�
            scroll: �뒪�겕濡� 異붽� 
            auto: �겕湲곗뿉 �뵲�씪�꽌 �옄�룞�쑝濡� �뒪�겕濡� 異붽�
            */

        }

        .slide {
            /*�뒳�씪�씠�뱶 �겕湲� 諛� �쐞移� 蹂�寃쎌꽕�젙*/
            width: 3000px;
            /*珥� �꼫鍮� 3000px*/
            position: relative;
            /*�쐞移� 蹂�寃� 媛��뒫*/
            margin-left: -330px;
        }

        .slide>li {
            /*�씠誘몄� �겕湲� 諛� �쇊履쎈��꽣 李⑤���濡� 梨꾩�*/
            width: 300px;
            float: left;
            margin-left: 30px;
            /*�쇊履� 遺��꽣 梨꾩�*/
            height: 350px;
        }

        .slide>li>img,.card {
            /*�씠誘몄� �겕湲곗“�젙*/
            width: 100%;
            height: 100%;
        }
        /*
        #wrap>p {
            �뀓�뒪�듃
            position: absolute;
            怨좎젙�쐞移�

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 15px;
            background: rgba(255, 255, 255, 0.8);
            padding: 10px 20px;
            font-size: 24px;
        }*/

        .prev {
            width: 30px;
            height: 100px;
            position: absolute;
            top: 55%;
            left: 0;
            -webkit-transform: translate(32px, -50%);
            -ms-transform: translate(32px, -50%);
            -o-transform: translate(32px, -50%);
            transform: translate(32px, -50%);
            opacity: 0.2;
        }
        .prev:hover,.next:hover{
            opacity: 0.8;
        }
        .next {
            width: 30px;
            height: 100px;
            position: absolute;
            top: 55%;
            right: 0;
            -webkit-transform: translate(-16px, -50%);
            -ms-transform: translate(-16px, -50%);
            -o-transform: translate(-16px, -50%);
            transform: translate(-16px, -50%);
            opacity: 0.2;
        }

        picture {
            margin: 0 auto;
            margin-top: 20px;
        }

        .p-2 {
            opacity: 0.3;
            font-size: 1rem;
          }